@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a[href^='/']:not(.button),
.prose a[href^='/'] code,
.prose p a[href^='#']:not([href='#']),
.inner-link,
.inner-link code {
	@apply bg-amber-100 rounded py-0.5 px-1 dark:bg-amber-500/20;
}

.inner-link img {
	position: absolute;
	top: 100%;
	left: 0;
}

.prose .live a[href^='/'],
.prose .live a[href^='#'] {
	background: none;
}

.prose a[href^='#']:not([href='#']) {
	border-bottom-style: dotted;
}

.prose a[href^='http://kod.djpw.cz']:not(.button)
{
	padding-left: 24px;
}

.prose a[href^='http://kod.djpw.cz']:not(.button)
{
	background: url('/external-favicons/kod.djpw.cz.ico') no-repeat left 2px center;
	background-size: 1em 1em;

	@apply bg-blue-100 dark:bg-blue-900/50 pr-1 py-0.5 rounded;
}

.prose a[href^='http://diskuse.jakpsatweb.cz'],
.prose a[href^='http://djpw.cz']
{
	padding-left: 20px;
	background: #d3fcab url('https://diskuse.jakpsatweb.cz/favicon.ico') no-repeat;
	background-size: 1em 100%;
}

.prose a[href^='https://github.com'],
.prose a[href^='https://gist.github.com']
{
	padding-left: 22px;
	background: #e4e4f1 url('https://github.com/favicon.ico') 2px no-repeat;
	background-size: 1em 100%;
	border-radius: 2px;
}

.prose a[href^='http://php.net']
{
	padding-left: 20px;
	background: #e4e4f1 url('https://php.net/favicon.ico') no-repeat;
	background-size: 1em 100%;
}

.prose a[href^='http://devdocs.io/']
{
	padding-left: 20px;
	background: #e4e4f1 url('https://devdocs.io/favicon.ico') no-repeat;
	background-size: 1em 100%;
}

.prose a[href^='http://cs.wikipedia.org/'],
.prose a[href^='http://en.wikipedia.org/']
{
	padding-left: 20px;
	background: #e4e4f1 url('https://cs.wikipedia.org/favicon.ico') no-repeat;
	background-size: 1em 100%;
}

.prose a[href^='https://www.vzhurudolu.cz']
{
	padding-left: 1.25rem;
	background: url('https://www.vzhurudolu.cz/favicon.ico') center left no-repeat;
	background-size: 1rem 1rem;
}

.prose a[href^='https://developer.mozilla.org']
{
	padding-left: 1.25rem;
	background: url('https://developer.mozilla.org/favicon.ico') center left no-repeat;
	background-size: 1rem 1rem;
}

.prose a[href^='https://www.npmjs.com']
{
	padding-left: 1.25rem;
	background: url('https://static.npmjs.com/b0f1a8318363185cc2ea6a40ac23eeb2.png') center left
		no-repeat;
	background-size: 1rem 1rem;
}

.external-content,
.internal-content {
	@apply rounded-md p-2;

	& ul {
		margin: 0;
	}
}

.internal-content {
	@apply bg-amber-50 dark:bg-amber-500/20;
}

.external-content {
	@apply bg-blue-50 dark:bg-blue-900/50;
}

.live {
	@apply rounded p-4 bg-blue-300 border border-blue-400 dark:bg-blue-800 dark:border-blue-700 relative;
}

code,
pre,
var {
	@apply !text-pink-600 !bg-gray-100 rounded !font-normal dark:!bg-gray-800 dark:!text-pink-400;
}

code {
	@apply px-0.5;
}

.prose button:not(.custom-button) {
	@apply bg-blue-light truncate transition-all rounded-lg gap-2 active:translate-y-0.5 inline-flex px-4 py-2 leading-6 font-semibold text-white items-center hover:bg-blue-dark;
}
